<div class="todolist__container">
    <button class="btn delete__btn" (click)="onDeleteTodolistClick(todolist.id)">x</button>

    <div *ngIf="!taskLoading; else showLoader">
        <div class="todolist__main-info">
            <div>
                <h3 class="todolist__title" (dblclick)="changeTitle()"
                    *ngIf="!editTitleMode; else showEditMode">{{ todolist.title }}</h3>
                <ng-template #showEditMode>
                    <input class="todolist__title-edit-mode"
                           type="text"
                           placeholder="enter new value"
                           [value]="todolist.title"
                           [(ngModel)]="todolist.title"
                           (blur)="onBlurTodolistTitle(todolist.id)"
                           autofocus
                    >
                </ng-template>
            </div>
            <app-add-new-item-form (addItem)="addTask($event)"></app-add-new-item-form>

            <div *ngIf="isTasks; else noTasksMessage">
                <app-task
                    *ngFor="let task of getFilteredTasks(this.filteredValue)"
                    [task]="task"
                    (deleteTask)="deleteTask($event)"
                    (changeTask)="changeTask($event)"
                ></app-task>
            </div>
            <ng-template #noTasksMessage>
                <p class="todolist__not-found-tasks-title">Tasks not found</p>
            </ng-template>
        </div>

        <app-todo-footer
            [tasks]="tasks"
            [todolist]="todolist"
            [filteredValue]="filteredValue"
            (filterTasks)="getFilteredTasks($event)"
            (clearCompletedTasks)="deleteTask($event)"
        >
        </app-todo-footer>
    </div>

    <ng-template #showLoader>
        <app-tail-spin-loader></app-tail-spin-loader>
    </ng-template>
</div>
