.todolist__container {
    position: relative;

    width: 500px;
    margin: 0 20px 20px 0;
    padding: 20px;

    border: 2px solid grey;
}

.todolist__main-info {
    margin-bottom: 20px;
}

.todolist__btn-container {
    display: flex;
    justify-content: space-between;
}

.todolist__title-edit-mode {
    margin-bottom: 10px;
    padding: 10px;

    border: 2px solid grey;
}

.todolist__not-found-tasks-title {
    font-weight: bold;

    text-align: center;
    text-transform: uppercase;
}

.todolist__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 20px;

    border-bottom: 2px solid grey;
}

.btn--todolist {
    font-size: 14px;

    margin-right: 5px;
    padding: 5px 10px;

    color: darkslategrey;
    border: 1px solid grey;
    background-color: white;
}

.btn--todolist:hover {
    color: white;
    background-color: #0d1a1a;
}

.btn--todolist--delete {
    color: white;
    border: none;
    background-color: crimson;;
}

.btn--todolist--delete:hover {
    background-color: #b91435;
}

.btn-selected {
    color: white;
    background-color: darkslategrey;
}
