<div class="todolist__container">
    <button class="btn todolist__btn" (click)="onDeleteTodolistClick(todolist.id)">x</button>
    <div *ngIf="!taskLoading; else showLoader">
        <div>
            <h3 class="todolist__title" (dblclick)="changeTitle()"
                *ngIf="!editTitleMode; else showEditMode">{{ todolist.title }}</h3>
            <ng-template #showEditMode>
                <input class="todolist__title-edit-mode"
                       type="text"
                       placeholder="enter new value"
                       [value]="todolist.title"
                       [(ngModel)]="todolist.title"
                       (blur)="onBlurTodolistTitle(todolist.id)"
                       autofocus
                >
            </ng-template>
        </div>
        <app-add-new-item-form (addItem)="addTask($event)"></app-add-new-item-form>
        <app-task *ngFor="let task of tasks" [task]="task"></app-task>
    </div>
    <ng-template #showLoader>
        <app-tail-spin-loader></app-tail-spin-loader>
    </ng-template>
</div>
