.todolist__container {
    position: relative;

    width: 300px;
    margin-right: 20px;
    padding: 20px;

    border: 2px solid grey;
}

.todolist__btn {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 3px 12px;

    content: '';

    background-color: crimson;
}

.todolist__btn:hover {
    cursor: pointer;

    background-color: #b91435;
}
