.not-found__container {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    text-align: center;

    background: crimson;
}

.not-found__title {
    font-size: 200px;

    margin: 0;

    color: white;
}

.not-found__subtitle {
    font-size: 100px;

    margin: 0;

    text-transform: uppercase;

    color: white;
}
