.task__container {
    position: relative;
}

.task__inner-container {
    margin: 0 0 10px 0;
    padding: 0 10px;
    text-align: center;
    border: 2px solid grey;
}

.task__grid-container {
    display: flex;
    flex-direction: column;
}

.task__info {
    display: flex;
    align-items: center;
}

.task__input {
    margin-right: 10px;
}

.task__title {
    font-size: 18px;
    text-align: left;
}

.task__date {
    margin: 0 0 10px 0;

    text-align: left;
}

.task__title-completed {
    opacity: .3;
}

.task__input-edit-mode {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid grey;
}
