<div class="task__container">
    <div class="task__inner-container">
        <label>
            <input class="task__input"
                   type="checkbox"
                   [checked]="task.status === 2"
                   (input)="onChangeCompletedTask($event)"
            >
        </label>
        <div *ngIf="!taskTitleEditMode; else editMode">
            <p class="task__title" (dblclick)="showEditMode()">{{ task.title }}</p>
        </div>
        <ng-template #editMode>
            <input
                class="task__input-edit-mode"
                type="text"
                placeholder="Enter new task name"
                autofocus
                [value]="task.title"
                [(ngModel)]="task.title"
                (blur)="onChangeTaskTitle()"
                (keyup.enter)="onChangeTaskTitle()"
            >
        </ng-template>
    </div>
    <button class="btn delete__btn" (click)="onDeleteTaskClick(task.id)">x</button>
</div>
