.task__container {
    position: relative;
}

.task__inner-container {
    display: flex;
    align-items: center;

    margin: 0 0 10px 0;
    padding: 0 10px;

    text-align: center;

    border: 2px solid grey;
}
