.add-new-item-form__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.add-new-item-form__container--big {
    justify-content: center;
    margin-bottom: 40px;
}

.add-new-item-form__input {
    margin-right: 10px;
    padding: 10px;

    border: 2px solid grey;
}

.add-new-item-form__input--big {
    padding: 20px;
    width: 70%;
}
