.add-new-item-form__input {
    margin-right: 10px;
    padding: 10px;

    border: 2px solid grey;
}

.add-new-item-form__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.btn {
    font-size: 26px;

    padding: 4px 10px;

    color: white;
    border: none;
    background-color: grey;
}
