.task__container {
    position: relative;
}

.task__inner-container {
    margin: 0 0 15px 0;
    padding: 0 10px;
    text-align: center;
}

.task__grid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task__info {
    display: flex;
    align-items: center;
    width: 70%;
}

.task__input {
    margin-right: 10px;
}

.task__title {
    font-size: 18px;
    text-align: left;
}

.task__title-completed {
    opacity: .3;
}

.task__input-edit-mode {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px crimson dashed;
}
