<div class="task__container">
    <div class="task__inner-container">
        <div class="task__grid-container" [ngClass]="{'task__title-completed': task.status === 2}">
            <div class="task__info">
                <label>
                    <input class="task__input"
                           type="checkbox"
                           [checked]="task.status === 2"
                           (input)="onChangeCompletedTask($event)"
                    >
                </label>
                <div *ngIf="!taskTitleEditMode; else editMode">
                    <p class="task__title">{{ task.title }}</p>
                </div>
            </div>
            <div>
                <button class="task__btn  task__btn--edit" (click)="showEditMode()"></button>
                <button class="task__btn  task__btn--info"  [routerLink]="['/task', task.id, task.todoListId]"></button>
                <button class="task__btn  task__btn--delete" (click)="onDeleteTaskClick(task.id)"></button>
            </div>

        </div>
        <ng-template #editMode>
            <input
                class="task__input-edit-mode"
                type="text"
                placeholder="Enter new task name"
                autofocus
                [value]="task.title"
                [(ngModel)]="task.title"
                (blur)="onChangeTaskTitle()"
                (keyup.enter)="onChangeTaskTitle()"
            >
        </ng-template>
    </div>
</div>
