.btn {
    font-size: 26px;

    padding: 4px 10px;

    color: white;
    border: none;
    background-color: grey;
}

.btn:hover {
    cursor: pointer;
    background-color: dimgrey;
}

.btn--big {
    padding: 13px 20px;
}
