/*btn*/

.btn {
    font-size: 26px;

    padding: 4px 10px;

    color: white;
    border: none;
    background-color: grey;
}

.btn:hover {
    cursor: pointer;
    background-color: dimgrey;
}

.btn--big {
    padding: 13px 20px;
}

.delete__btn {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 3px 12px;

    content: '';

    background-color: crimson;
}

.delete__btn:hover {
    cursor: pointer;

    background-color: #b91435;
}
