.btn {
    font-size: 26px;

    padding: 4px 10px;

    color: white;
    border: none;
    background-color: grey;
}

.btn:hover {
    cursor: pointer;

    background-color: dimgrey;
}

.btn--big {
    padding: 13px 20px;
}

.task__btn {
    width: 40px;
    height: 40px;

    content: '';
    outline: none;
    border: none;
}

.task__btn:hover {
    cursor: pointer;
    opacity: .5;
}

.task__btn--delete {
    background: url('src/assets/close-icon.svg') no-repeat;
}

.task__btn--info {

    background: url('src/assets/info-icon.svg') no-repeat;
}

.task__btn--edit {
    width: 36px;
    height: 36px;

    background: url('src/assets/edit-icon.svg') no-repeat;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
