<div class="home__container" *ngIf="isTodolistsLoaded; else loader">
    <div class="home__header">
        <h1 class="home__title">Angular todolist</h1>
        <button class="btn home__logout-btn" (click)="logOut()">log out</button>
    </div>
    <app-add-new-item-form [isInputBig]="true" (addItem)="addTodolist($event)"></app-add-new-item-form>

    <div *ngIf="isTodolists; else noTodolistsMessage">
        <div class="home__todo-container" *ngIf="!loading; else showLoader">
            <app-todolist
                *ngFor="let todolist of todolists"
                [todolist]="todolist"
                (deleteTodo)="deleteTodolist($event)"
                (changeTodoTitle)="changeTodolistTitle($event)"
            ></app-todolist>
        </div>
    </div>
    <ng-template #showLoader>
        <app-tail-spin-loader></app-tail-spin-loader>
    </ng-template>
    <ng-template #noTodolistsMessage>
        <h2 class="home__no-todos-message">No todolists added. Please add new todo</h2>
    </ng-template>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

